{% extends "yellowtaxi/base.html" %}


{% block styles %}
{{block.super}}
{% endblock styles %}
    

    {% block script-libraries %}
    {{block.super}}
    {% endblock script-libraries %}
    

    {% block scripts %}
    {% endblock scripts %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>About Us!</h1>
        <p>Book your taxis here!</p>
     </div>
</div>

 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Achinthya M. Bhat</h2>
          <p>4JC10IS002</p>
        </div>
        <div class="col-md-4">
          <h2>Prashanth Y.V.</h2>
          <p>4JC10IS037</p>
       </div>
        <div class="col-md-4">
          <h2>Siddharth Tiwari</h2>
          <p>4JC10IS046</p>
        </div>
        <div class="col-md-4">
          <h2>Venkatesh Bhattad</h2>
          <p>4JC10IS060</p>
       </div>
      </div>

      <hr>   
    </div>
{% endblock content %}