<!DOCTYPE html>
<html lang="en" >
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block meta-tags %} {% endblock meta-tags %}
        
        <title>{% block title %}{% endblock %} Yellow Taxi!</title>

        <script src="{% static 'js/es5-shim-2.3.0.min.js' %}"></script>
        <script src="{% static 'js/html5shiv-3.7.0.js' %}"></script>

        {% block style-libraries %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-united.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"> </link>
        <link rel="stylesheet" href="{% static 'css/asli.css' %}"> </link>
        {% endblock style-libraries %}

        {% block styles %}
        <style>
        .navbar-default {
          background-color: #fef140;
          border-color: #a26cff;
        }
        .navbar-default .navbar-brand {
          color: #3dc4e6;
        }
        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
          color: #3f4838;
        }
        .navbar-default .navbar-text {
          color: #3dc4e6;
        }
        .navbar-default .navbar-nav > li > a {
          color: #3dc4e6;
        }
        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
          color: #3f4838;
          background-color : #aa1500;
        }
        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
          color: #3f4838;
          background-color: #a26cff;
        }
        .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
          color: #3f4838;
          background-color: #a26cff;
        }
        .navbar-default .navbar-toggle {
          border-color: #a26cff;
        }
        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
          background-color: #a26cff;
        }
        .navbar-default .navbar-toggle .icon-bar {
          background-color: #3dc4e6;
        }
        .navbar-default .navbar-collapse,
        .navbar-default .navbar-form {
          border-color: #3dc4e6;
        }
        .navbar-default .navbar-link {
          color: #3dc4e6;
        }
        .navbar-default .navbar-link:hover {
          color: #3f4838;
        }

        @media (max-width: 767px) {
          .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #3dc4e6;
          }
          .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #3f4838;
          }
          .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: #3f4838;
            background-color: #a26cff;
          }
        }
        </style>
        {% endblock styles %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <a href="/yellowtaxi/" class="navbar-brand">Yellow Taxi</a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                  {% block navbar-links %}
                  <li><a href = "/yellowtaxi/home">Home</a></li>
                  <li><a href = "/yellowtaxi/aboutus">About us</a></li>
                  <li><a href = "/yellowtaxi/feedback">Feedback</a></li>
                  <li><a href = "/yellowtaxi/trace">Trace</a></li>
                  <li><a href = "/yellowtaxi/showtaxis">Search Taxis</a></li>
                  {% endblock navbar-links %}
              </ul>  
            </div>
          </div>
        </div>
        
        {% block container %}
         <div class="container" id="content"> 
         {% block content %}{% endblock %}
          <footer>
            <p>Company 2014</p>
          </footer>
         </div> 
        {% endblock container %}
        <footer>{% block footer %}{% endblock %}</footer>
        {% block script-libraries %}
            <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
            <script src="{% static 'js/bootstrap-3.0.3.min.js' %}"></script>
            <script src="{% static 'js/moment-2.5.0.min.js' %}"></script>
            <script src="{% static 'js/bootstrap-datetimepicker-2.2.0.min.js' %}"> </script>
            <script src="{% static 'js/bootstrap-sortable-1.8.0.js' %}"> </script>
            <script src="{% static 'js/bootbox-4.1.0.min.js' %}"> </script>
        {% endblock script-libraries %}
        {% block scripts %}
        {% endblock scripts %}
        {% block analytics %}
            <script>
                var _gaq=[['_setAccount','{% block ua %}UA-42349832-1{% endblock %}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endblock analytics %}
    </body>
</html>
