{% extends "yellowtaxi/base.html" %}


{% block style-libraries %}
{{ block.super }}

{% endblock style-libraries %}


{% block styles %}
{{block.super}}
{% endblock styles %}
    


    {% block script-libraries %}
    {{block.super}}
   <!--
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js"></script>
    -->
    
    {% endblock script-libraries %}
    

{% block scripts %}
<script type='text/javascript'>

var queryString = new Array();
$(window).load(
  function () 
  { 
    console.log("here1")
    if (queryString.length == 0)
    {
      console.log("here2")
      if (window.location.search.split('?').length > 1) 
      {
        console.log("here3")
        var params = window.location.search.split('?')[1].split('&');
        for (var i = 0; i < params.length; i++) 
        {
          console.log("here4")
          var key = params[i].split('=')[0];
          var value = decodeURIComponent(params[i].split('=')[1]);
          queryString[key] = value;
        }
      }
    }
    console.log("here")
    console.log(queryString['taxi_number'])
    initialize()
  }

);

function initialize()
{
  console.log(queryString['taxi_number'])
  $("#theform").append("<div class='form-group'><label class='col-md-4 control-label sr-only' for='taxi_number'></label><div class='col-md-5'><input type='hidden' id='taxi_number' name='taxi_number' class='form-control input-md' value='"+queryString['taxi_number']+"'></div></div>")
}

</script>

{% endblock scripts %}


{% block content %}
<form class="form-horizontal" action = "/yellowtaxi/booksubmit">
<fieldset>


<legend>Book your taxi here!</legend>

<div id = "theform">
  <div class="form-group">
    <label class="col-md-4 control-label" for="name">Name</label>  
    <div class="col-md-5">
    <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">    
    </div>
  </div>


  <div class="form-group">
    <label class="col-md-4 control-label" for="phone_no">Phone number</label>  
    <div class="col-md-5">
    <input id="phone_no" name="phone_no" type="text" placeholder="Phone number" class="form-control input-md" required="">   
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="passengers_num">Number of passengers</label>  
    <div class="col-md-5">
    <input id="passengers_num" name="passengers_num" type="text" placeholder="Number of passengers" class="form-control input-md" required="">   
    </div>
  </div>

{% comment %}
  <div class="form-group">
    <label class="col-md-4 control-label" for="carpool_status">Carpool status</label>  
    <div class="col-md-5">
    <input id="carpool_status" name="carpool_status" type="text" placeholder="Carpool Status" class="form-control input-md" required="">   
    </div>
  </div>
  {% endcomment %}

  <div class ="form-group">
    <label class="col-md-4 control-label" for="carpool_status">Carpool status</label>
    <div class="col-md-5">
      
        <label>
          <div class="radio"> 
            <input id="carpool_status" name="carpool_status" value="Enable Carpool" type="radio">
            Enable Carpool
          </div>
        </label>
     
        <label>
          <div class="radio">
            <input id="carpool_status" name="carpool_status" value="Disable Carpool" type="radio">
            Disable Carpool
          </div>
        </label>
      
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="from_address">From address</label>
    <div class="col-md-5">
    <input id="from_address" name="from_address" type="text" placeholder="From address" class="form-control input-md" required="">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="to_address">To address</label>  
    <div class="col-md-5">
    <input id="to_address" name="to_address" type="text" placeholder="To address" class="form-control input-md" required="">   
    </div>
  </div>

  {% comment %}
  <div class="form-group">
    <label class="col-md-4 control-label" for="taxino">Registration number</label>  
    <div class="col-md-5">
    <input id="taxi_number" name="taxi_number" type="text" placeholder="Registration number" class="form-control input-md" required="">
    <span class="help-block">Enter the registration number of the vehicle</span>
    </div>
  </div>
  {% endcomment %}


  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
    <div class="col-md-4">
      <button id="submit" name="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>
</fieldset>
</form>
{% endblock content %}