{% extends "yellowtaxi/base.html" %}


{% block styles %}
{{block.super}}
{% endblock styles %}
    

    {% block script-libraries %}
    {{block.super}}
    {% endblock script-libraries %}
    

    {% block scripts %}
<script>

var code = '{{ code|safe }}'

$(window).load
  (
    function() 
    {
        $("#code").append("Your journey trace code is <strong><font color = 'red'><u>"+code+"</u></strong></font>")
    }
  );


</script>
    {% endblock scripts %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>Your taxi has been booked. <br>You will get a confirmation call soon.</h2>
        <p id = "code"></p>
     </div>
</div>
 
<hr>
{% endblock content %}