{% extends "yellowtaxi/base.html" %}


{% block styles %}
{{block.super}}
{% endblock styles %}
    

    {% block script-libraries %}
    {{block.super}}
    {% endblock script-libraries %}
    

    {% block scripts %}
<script>

var status = '{{ status|safe }}'
var regno = '{{ regno|safe }}'

$(window).load
  (
    function() 
    {
      if(status == "OK")
      {
        $("#status").append("Your feedback is submitted successfully!")
      }
      else
      {
        $("#status").append("The registration number " +regno+ " does not appear to be present in our database.<br>Please check the registration number again.")
      }
    }
  );


</script>
    {% endblock scripts %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>Thank you for the feedback!</h2>
        <p id = "status"></p>
     </div>
</div>
 
<hr>
{% endblock content %}