{% extends "yellowtaxi/base.html" %}


{% block styles %}
{{block.super}}
{% endblock styles %}
    

    {% block script-libraries %}
    {{block.super}}
    {% endblock script-libraries %}
    

    {% block scripts %}

<script>

var json;

$(window).load
  (
    function() 
    {
      initialize();
    }
  );

function initialize() 
{
    $.getJSON
    (
        "/yellowtaxi/getalltaxis",
        function(data)
        {
            if(data["status"] != "Ok")
            {
                bootbox.alert("Oops! Something went wrong! <br>"+data["message"]);
                return;
            }
            json = data["response"];
            updateTaxis();
        }
    );
}

function updateTaxis()
{
    for (i =0; i<json.length; i++)
    {
        $("#regno").append("<option id = \""+json[i]["regno"]+"\" value = \""+json[i]["regno"]+"\">"+json[i]["detail"]+"</option>");
    }
}

function validateForm()
{
  //event.preventdefault()
  console.log("ER")
  var x = $("#name").val();
  var y = $("#emailid").val();
  var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
  if ((x==null || x=="") || (y==null || y=="") || !(pattern.test(y))) 
  {
    bootbox.alert("Name and emailid should be filled out!");
    return false;
  }

  /*var atpos = y.indexOf("@");
  var dotpos = y.lastIndexOf(".");
  if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) 
  {
    bootbox.alert("Not a valid e-mail address");
    return false;
  }*/

  return true;
}

</script>


    {% endblock scripts %}


{% block content %}
<form class="form-horizontal" action = "/yellowtaxi/feedbacksubmit" onsubmit='return validateForm()'>
<fieldset>

<!-- Form Name -->
<legend>Feedback Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-5">
  <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="emailid">Email ID</label>  
  <div class="col-md-5">
  <input id="emailid" name="emailid" type="text" placeholder="Email ID" class="form-control input-md">
    
  </div>
</div>

{% comment %}
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="regno">Registration number</label>  
  <div class="col-md-5">
    <input id="regno" name="regno" type="text" placeholder="Registration number" class="form-control input-md" required="">
    <span class="help-block">Enter the registration number of the vehicle</span>
  </div>
</div>
{% endcomment %}

<div class="form-group">
  <label class="col-md-4 control-label" for="regno">Registration number</label>
  <div class="col-md-5">
    <select class="form-control" id="regno" name = "regno" required="">
    </select>
    <span class="help-block">Enter the registration number of the vehicle</span>
  </div>
</div>


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="feedback">Feedback</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="feedback" name="feedback">Feedback</textarea>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="rating">Overall rating</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="rating-0">
      <input type="radio" name="rating" id="rating-0" value="1" checked="checked">
      1
    </label> 
    <label class="radio-inline" for="rating-1">
      <input type="radio" name="rating" id="rating-1" value="2">
      2
    </label> 
    <label class="radio-inline" for="rating-2">
      <input type="radio" name="rating" id="rating-2" value="3">
      3
    </label> 
    <label class="radio-inline" for="rating-3">
      <input type="radio" name="rating" id="rating-3" value="4">
      4
    </label> 
    <label class="radio-inline" for="rating-4">
      <input type="radio" name="rating" id="rating-4" value="5">
      5
    </label>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-default">Submit</button>
  </div>
</div>

</fieldset>
</form>
{% endblock content %}