{% extends "yellowtaxi/base.html" %}


{% block styles %}
{{block.super}}
{% endblock styles %}
    

    {% block script-libraries %}
    {{block.super}}
    {% endblock script-libraries %}
    

    {% block scripts %}
    {% endblock scripts %}


{% block content %}
  <p><center><h5><strong>This is the home page!</strong></h5></center></p>
{% endblock content %}