{% extends "yellowtaxi/base.html" %}


{% block styles %}
{{block.super}}
{% endblock styles %}
    

    {% block script-libraries %}
    {{block.super}}
    {% endblock script-libraries %}
    

{% block scripts %}
<script type='text/javascript'>

var json;

$(window).load
  (
    function() 
    {
      initialize();
    }
  );

function initialize() 
{
  $("#tablediv").hide()
}




function postCall()
{
  $.ajax
  (
    {
      type: 'post',
      url: '/yellowtaxi/searchataxi/',
      data: 
      { 
        from_address: "12.0,76.0", phone_no: $("#phone_no").val(), password: $("#password").val(), carpool_status: $("#carpool_status").val(), passengers_num: $("#passengers_num").val()
      },
      statusCode:
      {
        404: function() 
        {
            alert("Could not contact server");
            bootbox.alert("Could not contact server");
            location.reload();
        },
        500: function() 
        { 
            alert("Internal server error")
            bootbox.alert("Internal server error")
            location.reload();
        },
        error: function() 
        {
          alert('A problem has occurred.');
          bootbox.alert('A problem has occurred.');
        }
      },
      success: function(response)
      {
        if (response["status"]=="Not Ok")
        {
          bootbox.alert("A problem has occured - "+response["message"])
        }
        else
        {
          json = response["response"]
          console.log("json")
          console.log(response)
          if (json[0] == "No taxis found")
          {
            bootbox.alert("No taxis found!")
          }
          else
          {
            bootbox.alert('Success!');
            updateDiv();
          }
        }
      }
    }
  );
}



function updateDiv()
{
  $("#theform").hide()
  $("#tablediv").show()

  for(var i = 0; i<json.length; i++)
  {
    var id = json[i].taxi_number;
    id = id.replace(/\s+/g, '');
    var func = '\'return popitup("/yellowtaxi/book/","'+id+'")\'';

    $("#displaycontent").append("<tr id = "+id+"><td>"+json[i].taxi_number+"</td><td>"+json[i].driver_name+"</td><td>"+json[i].vendor_name+"</td><td>"+json[i].phone_number+"</td><td>"+json[i].rating+"</td><td style='display:none'>"+json[i].taxi_number+"</td><td><input type = 'button' class = 'btn-small btn-info' value = 'Book' onclick="+func+"></input></td></tr>");
    $.bootstrapSortable(true);
  }
  
  $.bootstrapSortable(true);
}


function popitup(url, rowid) 
{
    var row = document.getElementById(rowid);
    var cells = row.getElementsByTagName('td');

    var url = url+"?taxi_number=" + cells[0].innerHTML;
    console.log(url)
    newwindow=window.open(url,'name','height=500,width=600, left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');
    if(window.focus)
    {
        newwindow.focus()
    }
    return false;
}


function submitbtn()
{
  //document.myform.submit();
  k = validateForm();
  if(k!=false)
  {
    postCall();
  }
}

function validateForm()
{
  //event.preventdefault()
  console.log("ER")
  var x = $("#phone_no").val();
  var y = $("#carpool_status").val();
  var z = $("#password").val();
  var a = $("#passengers_num").val();
  pattern = /^\d{10}$/;

  if (a==null || a=="") 
  {
    bootbox.alert("Number of passengers should be filled out!");
    return false;
  }

  if (a < 0 || a > 20)
  {
    bootbox.alert("Invalid number of passengers!");
    return false;
  }

  if (x==null || x=="") 
  {
    bootbox.alert("Phone number should be filled out!");
    return false;
  }

  if(!(pattern.test(x)))
  {
    bootbox.alert("Invalid phone number!")
    return false
  }

  if(z==null||z=="")
  {
    bootbox.alert("Password should be filled out!");
    return false;
  }

  if(y==null||y=="")
  {
    bootbox.alert("Carpool status should be filled out!");
    return false;
  }
  /*var atpos = y.indexOf("@");
  var dotpos = y.lastIndexOf(".");
  if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) 
  {
    bootbox.alert("Not a valid e-mail address");
    return false;
  }*/

  return true;
}


</script>



{% endblock scripts %}

{% block content %}
<center>
<div id = "tablediv">
  <table class="table table-nonfluid bordered-table table-hover sortable table-condensed" id="thetable">
    <thead>
      <tr class="alert alert-info">
        <th>Taxi number</th>
        <th>Driver name</th>
        <th>Vendor name</th>
        <th>Phone number</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody id="displaycontent">
    </tbody>
  </table>
</div>

<!-- Button -->
<div id = "theform">

  <div class="form-group">
    <label class="col-md-4 control-label" for="phone_no">Phone number</label>  
    <div class="col-md-5">
    <input id="phone_no" name="phone_no" type="text" placeholder="Phone number" class="form-control input-md">   
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="password">Password</label>  
    <div class="col-md-5">
    <input type="password" id="password" name="password" type="text" placeholder="Password" class="form-control input-md">   
    </div>
  </div>

  {% comment %}
  <div class="form-group">
    <label class="col-md-4 control-label" for="carpool_status">Carpool status</label>  
    <div class="col-md-5">
    <input id="carpool_status" name="carpool_status" type="text" placeholder="Carpool status (Enable Carpool/Disable Carpool)" class="form-control input-md">   
    </div>
  </div>
  {% endcomment %}

  <div class ="form-group">
    <label class="col-md-4 control-label" for="carpool_status">Carpool status</label>
    <div class="col-md-5">
      
        <label>
          <div class="radio"> 
            <input id="carpool_status" name="carpool_status" value="Enable Carpool" type="radio">
            Enable Carpool
          </div>
        </label>
     
        <label>
          <div class="radio">
            <input id="carpool_status" name="carpool_status" value="Disable Carpool" type="radio">
            Disable Carpool
          </div>
        </label>
      
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="passenger_num">Number of passengers</label>  
    <div class="col-md-5">
    <input id="passengers_num" name="passengers_num" type="text" placeholder="Number of passengers" class="form-control input-md">   
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="submit"></label>
    <div class="col-md-4">
      <input type = 'button' class = 'btn-small btn-info' value = 'Login' onclick='submitbtn()'></input>
    </div>
  </div>

</div>
{% endblock content %}