{% extends "track/base.html" %}
    {% block styles %}
    <style>
      #map-canvas 
      {
        height: 600px;
        margin: 0px;
        padding-top: 0px;
      }
    </style>
    {% endblock styles %}
    {% block script-libraries %}
    {{block.super}}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/styledmarker/src/StyledMarker.js"></script>
    {% endblock script-libraries %}
    
    {% block scripts %}
    <script type = "text/javascript">
    
var map;
var stepDisplay;
var zoomlevel=4;
var json;
var code = '{{ code|safe }}';

$(window).load
  (
    function() 
    {
      initialize();
    }
  );

function initialize() 
{
  
  var directionsService = new google.maps.DirectionsService();

  var mapOptions = 
  {
    zoom: 13,
    scaleControl: true,
    center: new google.maps.LatLng(14.325186, 76.228478)
    // 12.970214,77.56029 are co-ordinates of Bangalore.
  }
  
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  
  stepDisplay = new google.maps.InfoWindow();
  
  jsonParse();
  //allMarkers();
}

//this function parses the json data obtained from the api
function jsonParse()
{
    $.getJSON
  (
    "/t/journeydetails/"+code, 
    function(data)
    {
      if(data["status"] != "OK")
      {
        $("#status").append(data["status"] +"<br>Message : "+data["message"]);
        return;
      }
      json = data["response"][0];
      $("#busno").append(json["information"][0]["bus_no"]);
      $("#start").append(json["information"][0]["start"]);
      $("#end").append(json["information"][0]["end"]);
      allMarkers();
    }
  );
}

//this function creates an array of all markers, adds start/end markers, adds halt markers, draws polyline 
function allMarkers()
{
  var polylineCoordinates = [];
  var markers=[];
  var myLoc;
  var end=(json["trace"].length)-1;
  var bounds = new google.maps.LatLngBounds();
  for(var i=0; i<=end; i++)
  {
    myLoc = new google.maps.LatLng(json["trace"][i]["lat"], json["trace"][i]["lng"]);
    var icon = {
        url : 'http://png-3.findicons.com/files/icons/1686/led/16/marker.png',
        scaledSize: new google.maps.Size(20,20)
    }
    //uncomment the following comment block to show markers on the map
    /*
    addMarkers(markers, myLoc, icon, null);
    if (i==0)
    {
        var dist = calcdist(markers[i].position, markers[i].position);
    }
    else
    {
        var dist = calcdist(markers[i-1].position, markers[i].position);
    }
    var text = "<font color = 'blue'><strong>Marker</strong></font><br><font color = 'red'><strong> Time : </strong></font>"+new moment(convertt(json["trace"][i]["time"])).format('h:mm:ss a')+"<br><font color = 'red'><strong> Distance covered since last gps location: </strong></font>"+(dist*1000)+" metres";
    attachInstructionText(markers[i], text);
    */
    polylineCoordinates.push(myLoc);
    bounds.extend(myLoc);
  }
  addHaltMarkers();
  //addStartEndMarkers(end);
  var PathStyle = addPolyline(polylineCoordinates, '#33EE00', 1, 2);
  PathStyle.setMap(map);
  map.fitBounds(bounds);
}




//json["trace"][i]["time"] -> convertt(json["trace"][i]["time"])
function convertt(unixtime)
{
  return (new moment(moment.unix(unixtime)).format("YYYY-MM-DD HH:mm:ss"));
}

function calcdist(loc1, loc2)
{
  return distance = google.maps.geometry.spherical.computeDistanceBetween(loc1, loc2)/1000;
}


//this function adds markers
function addMarkers(addMarkersArray, addPosition, customIcon, titleText)
{
  addMarkersArray.push
  (
    new google.maps.Marker
    (
      {
        map: map,
        position: addPosition,
        icon: customIcon,
        title: titleText
      }
    )
  );
}

//this function attaches the instruction text box to the markers
function attachInstructionText(instructionMarker, text) 
{
  google.maps.event.addListener
  (
    instructionMarker, 
    'click', 
    function() 
    {
      stepDisplay.setContent(text);
      stepDisplay.open(map, instructionMarker);
    }
  );
}

//this function adds polylines
function addPolyline(polypath, color, opacity, weight)
{
  var iconsetngs = 
  {
    path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
    strokeColor: "red",
    strokeOpacity: 1
    //strokeColor: "#334455"
  };
  polyline = new google.maps.Polyline
  (
    {
      map: map,
      path: polypath,
      strokeColor: color,
      strokeOpacity: opacity,
      strokeWeight: weight,
      icons: 
      [
        {
          icon: iconsetngs,
          repeat:'70px',
          offset: '100%'
        }
      ]
    }
  );
  return polyline;
}


//this function adds halt markers
function addHaltMarkers()
{
  var myLoc;
  var haltmarkers = [];
  for(var i=0; i<json["halts"].length; i++)
  {    
    myLoc = new google.maps.LatLng(json["halts"][i]["lat"], json["halts"][i]["lng"]);
    var icon = 
    {
        url: 'http://tsepak.com/static/img/halt_marker.png',
        scaledSize: new google.maps.Size(20,20)
        //strokeWeight: 1
    };
    if (i==0)
    {
        var dist = calcdist(myLoc, myLoc)*1000;
    }
    else
    {
        var dist = calcdist(haltmarkers[i-1].position, myLoc)*1000;
    }
    addMarkers(haltmarkers, myLoc, icon, null);
    var text = "<font color = 'blue'><strong>Halt Point</strong></font><br><font color = 'red'><strong> Time : </strong></font>"+new moment(convertt(json["halts"][i]["time"])).format('h:mm:ss a')+"<br><font color = 'red'><strong> Distance since last halt point : </strong></font>"+(dist)+" metres <br><font color = 'red'><strong> Duration : </strong></font>"+json["halts"][i]["duration"]+" minutes";
    attachInstructionText(haltmarkers[i], text);
    if ( (dist < 20) || (haltjson[i]["duration"] < 1))
    {
        haltmarkers[i].setMap(null);
    }
    //addMarkers(haltmarkers, myLoc, icon, null);
    //var dist = calcdist(haltmarkers[i-1].position, myLoc);
    //var text = "<font color = 'blue'><strong>Halt Point</strong></font><font color = 'red'><strong> Time : </strong></font>"+new moment(haltjson[i]["time"]).format('h:mm:ss a')+"<br><font color = 'red'><strong> Distance covered : </strong></font>"+(dist*1000)+" metres";
    //attachInstructionText(haltmarkers[i], text);
  }
}

//this functions adds the start and end markers on the map
function addStartEndMarkers(end)
{
  var startEndMarkers=[];
  var myStart = new google.maps.LatLng(json["trace"][0]["lat"], json["trace"][0]["lng"]);
  var icon = "/static/icons/start.png";
  //var icon = "https://chart.googleapis.com/chart?chst=d_fnote&chld=pinned_c|2|334477|h|BAH!";
  addMarkers(startEndMarkers, myStart, icon, null);
  var k=(new moment(convertt(json["trace"][0]["time"]))._d).toString();
  attachInstructionText(startEndMarkers[0], k);
  
  var myEnd = new google.maps.LatLng(json["trace"][end]["lat"], json["trace"][end]["lng"]);
  //difference = moment.duration(moment(moment(),"DD/MM/YYYY HH:mm:ss").diff(moment(moment.unix(json.trace[0][2]),"DD/MM/YYYY HH:mm:ss"))).minutes();
  difference = moment.duration(moment(moment(),"YYYY-MM-DD HH:mm:ss").diff(moment(convertt(json["trace"][end]["time"]),"YYYY-MM-DD HH:mm:ss")));
  var diffmins = difference.minutes();
  var diffhours = difference.hours();
  var diffdays = difference.days();
  if((diffmins >= 10)||(diffhours >= 1)||(diffdays >= 1))
  {
    var icon = "http://tsepak.com/static/img/bus-grey.png";
  }
  else
  {
    var icon = "http://tsepak.com/static/img/bus-green.png"
  }
  addMarkers(startEndMarkers, myEnd, icon, null);
  var k=(new moment(moment.unix(convertt(json["trace"][end]["time"])))._d).toString();
  attachInstructionText(startEndMarkers[1], k);
}

//this function only removes the markers from the map
function clearMarkers(clearMarkersArray) 
{
  setAllMap(null, clearMarkersArray);
}

function setAllMap(map, clearMarkersArray) 
{
   for (var i = 0; i < clearMarkersArray.length; i++) 
   {
      clearMarkersArray[i].setMap(map);
   }
}

//this function removes the markers from the map AND clears the markers array.
function clearOverlays(clearMarkersArray) 
{
  for (var i = 0; k < clearMarkers.length; k++) 
  {
    clearMarkers[k].setMap(null);
  }
  clearMarkers = [];
  clearMarkers.length = 0;
}

</script>
{% endblock scripts %}


{% block content %}
  <p><center><h5><strong>Status : </strong><span id="status"></span></h5></center></p><br>
  <p><center><h5><strong>Bus number: </strong><span id="busno"></span><strong>     Start: </strong><span id = "start"></span><strong>     End: </strong><span id = "end"></span></h5></center></p>
  <div id="map-canvas"></div>
{% endblock content %}