{% extends "yellowtaxi/base.html" %}


{% block styles %}
{{block.super}}
{% endblock styles %}
    

    {% block script-libraries %}
    {{block.super}}
    {% endblock script-libraries %}
    

    {% block scripts %}
    {% endblock scripts %}


{% block content %}
<form class="form-vertical" action = "/yellowtaxi/showtrace">
<fieldset>

<!-- Form Name -->
<legend>Trace</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="code">Enter the trace code given to you : </label>  
  <div class="col-md-5">
    <input id="code" name="code" type="text" placeholder="Code" class="form-control input-md" required="">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-default">Submit</button>
  </div>
</div>

</fieldset>
</form>

{% endblock content %}